@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    font-family: 'DynaPuff';
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9F5EB;
}

.content-container{
    margin: 20px;
    padding: 25px;
    background-color: #1C3879;
}

.heading{
    font-size: 45px;
    opacity: 0.5;
}

.todo-list{
    background-color:#607EAA;
    padding: 30px;
}

.add-title{
    text-align: center;
}

.input-todo{
    width: 75%;
    border-radius: 10px 0 0px 10px;
    border: none;
    padding: 4px;
    margin: 0;
}

.btn-todo{
    background-color: #1C3879;
    color: #F9F5EB;
    border: none;
    padding: 5px 10px;
    border-radius: 0px 10px 10px 0px;
    width: 25%;
    text-align: center;
    margin-left: 0;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-todo:hover{
    background-color:#21428e ;

}
/* .todo-container{
   background-color: #000;
} */
.task-a-counter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.my-tasks{
    font-weight: 200;
}

.task-counter{
   font-size: 10px;
}

/* 
.todo-items{
    background-color: black;
} */

.todo-list-items li:nth-child(odd){
    background: #8198d7;
    
}

.todo-list-items li:hover{
    background: #3d84ef;
}

.todo-list-items li{
    list-style:square;
    font-weight: 200;
    cursor: pointer;
    padding: 12px 8px;
   
}



.todo-list-items li.checked{
    background: #3d84ef;
    text-decoration: line-through;
}

.todo-list-items li.checked::before{
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}
